
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>IconFont</title>
    <link rel="stylesheet" href="demo.css">
    <link rel="stylesheet" href="iconfont.css">
</head>
<body>
    <div class="main markdown">
        <h1>IconFont 图标</h1>
        <ul class="icon_lists clear">
            
                <li>
                <i class="icon iconfont icon-guanbi"></i>
                    <div class="name">关闭</div>
                    <div class="fontclass">.icon-guanbi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-erweima"></i>
                    <div class="name">二维码</div>
                    <div class="fontclass">.icon-erweima</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fanhui"></i>
                    <div class="name">返回</div>
                    <div class="fontclass">.icon-fanhui</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shezhi"></i>
                    <div class="name">设置</div>
                    <div class="fontclass">.icon-shezhi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xin"></i>
                    <div class="name">心</div>
                    <div class="fontclass">.icon-xin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shezhi1"></i>
                    <div class="name">设置</div>
                    <div class="fontclass">.icon-shezhi1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-bianji"></i>
                    <div class="name">编辑</div>
                    <div class="fontclass">.icon-bianji</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiangyou"></i>
                    <div class="name">向右</div>
                    <div class="fontclass">.icon-xiangyou</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dianhua"></i>
                    <div class="name">电话</div>
                    <div class="fontclass">.icon-dianhua</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-gouwuche"></i>
                    <div class="name">购物车</div>
                    <div class="fontclass">.icon-gouwuche</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dianhua1"></i>
                    <div class="name">电话</div>
                    <div class="fontclass">.icon-dianhua1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shoukuan"></i>
                    <div class="name">收款</div>
                    <div class="fontclass">.icon-shoukuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-icon"></i>
                    <div class="name">位置</div>
                    <div class="fontclass">.icon-icon</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shanchu"></i>
                    <div class="name">删除</div>
                    <div class="fontclass">.icon-shanchu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-gouwuche1"></i>
                    <div class="name">购物车</div>
                    <div class="fontclass">.icon-gouwuche1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shanchu1"></i>
                    <div class="name">删除</div>
                    <div class="fontclass">.icon-shanchu1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dianhua2"></i>
                    <div class="name">电话</div>
                    <div class="fontclass">.icon-dianhua2</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-icon48"></i>
                    <div class="name">添加</div>
                    <div class="fontclass">.icon-icon48</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-icon52"></i>
                    <div class="name">删除</div>
                    <div class="fontclass">.icon-icon52</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-llmenuwmnotice2"></i>
                    <div class="name">公告</div>
                    <div class="fontclass">.icon-llmenuwmnotice2</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-gengduo"></i>
                    <div class="name">更多</div>
                    <div class="fontclass">.icon-gengduo</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yongjin"></i>
                    <div class="name">佣金</div>
                    <div class="fontclass">.icon-yongjin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-weizhi"></i>
                    <div class="name">位置</div>
                    <div class="fontclass">.icon-weizhi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sousuo"></i>
                    <div class="name">搜索</div>
                    <div class="fontclass">.icon-sousuo</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-riqi"></i>
                    <div class="name">日期</div>
                    <div class="fontclass">.icon-riqi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-icon27"></i>
                    <div class="name">删除</div>
                    <div class="fontclass">.icon-icon27</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-daifukuan"></i>
                    <div class="name">代付款</div>
                    <div class="fontclass">.icon-daifukuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-daifukuan1"></i>
                    <div class="name">代付款</div>
                    <div class="fontclass">.icon-daifukuan1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-daipingjia01"></i>
                    <div class="name">待评价</div>
                    <div class="fontclass">.icon-daipingjia01</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-share"></i>
                    <div class="name">分享</div>
                    <div class="fontclass">.icon-share</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiala"></i>
                    <div class="name">下拉</div>
                    <div class="fontclass">.icon-xiala</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-bianji1"></i>
                    <div class="name">编辑</div>
                    <div class="fontclass">.icon-bianji1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-snimicsousuo"></i>
                    <div class="name">搜索</div>
                    <div class="fontclass">.icon-snimicsousuo</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-erweima1"></i>
                    <div class="name">二维码</div>
                    <div class="fontclass">.icon-erweima1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhifu"></i>
                    <div class="name">支付</div>
                    <div class="fontclass">.icon-zhifu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shoucang"></i>
                    <div class="name">收藏</div>
                    <div class="fontclass">.icon-shoucang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fenxiang"></i>
                    <div class="name">分享</div>
                    <div class="fontclass">.icon-fenxiang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xin1"></i>
                    <div class="name">心</div>
                    <div class="fontclass">.icon-xin1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-androidmorevertical"></i>
                    <div class="name">更多</div>
                    <div class="fontclass">.icon-androidmorevertical</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dingdan"></i>
                    <div class="name">订单</div>
                    <div class="fontclass">.icon-dingdan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xuanzhong"></i>
                    <div class="name">选中</div>
                    <div class="fontclass">.icon-xuanzhong</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-svgmoban06"></i>
                    <div class="name">二手</div>
                    <div class="fontclass">.icon-svgmoban06</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-icondpj"></i>
                    <div class="name">待评价</div>
                    <div class="fontclass">.icon-icondpj</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-youhuiquan"></i>
                    <div class="name">优惠券</div>
                    <div class="fontclass">.icon-youhuiquan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xuanzhong1"></i>
                    <div class="name">选中</div>
                    <div class="fontclass">.icon-xuanzhong1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-ershou"></i>
                    <div class="name">二手</div>
                    <div class="fontclass">.icon-ershou</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-daohang"></i>
                    <div class="name">导航</div>
                    <div class="fontclass">.icon-daohang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiugai"></i>
                    <div class="name">修改</div>
                    <div class="fontclass">.icon-xiugai</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-icon2"></i>
                    <div class="name">我的订单</div>
                    <div class="fontclass">.icon-icon2</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-mima"></i>
                    <div class="name">密码</div>
                    <div class="fontclass">.icon-mima</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiala1"></i>
                    <div class="name">下拉</div>
                    <div class="fontclass">.icon-xiala1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-iconfontquan"></i>
                    <div class="name">优惠券</div>
                    <div class="fontclass">.icon-iconfontquan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-pingjia"></i>
                    <div class="name">评价</div>
                    <div class="fontclass">.icon-pingjia</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fujin"></i>
                    <div class="name">附近</div>
                    <div class="fontclass">.icon-fujin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dianpu"></i>
                    <div class="name">店铺</div>
                    <div class="fontclass">.icon-dianpu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dianpu1"></i>
                    <div class="name">店铺</div>
                    <div class="fontclass">.icon-dianpu1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dingdan1"></i>
                    <div class="name">订单</div>
                    <div class="fontclass">.icon-dingdan1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-bf-more"></i>
                    <div class="name">更多</div>
                    <div class="fontclass">.icon-bf-more</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-daifahuo"></i>
                    <div class="name">待发货</div>
                    <div class="fontclass">.icon-daifahuo</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-ma"></i>
                    <div class="name">马 </div>
                    <div class="fontclass">.icon-ma</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wodedingdan"></i>
                    <div class="name">我的订单</div>
                    <div class="fontclass">.icon-wodedingdan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-groupshenqing"></i>
                    <div class="name">Group申请</div>
                    <div class="fontclass">.icon-groupshenqing</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-mima1"></i>
                    <div class="name">密码</div>
                    <div class="fontclass">.icon-mima1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-daipingjia"></i>
                    <div class="name">待评价</div>
                    <div class="fontclass">.icon-daipingjia</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shoucang1"></i>
                    <div class="name">收藏</div>
                    <div class="fontclass">.icon-shoucang1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shoucang2"></i>
                    <div class="name">收藏</div>
                    <div class="fontclass">.icon-shoucang2</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tuichu"></i>
                    <div class="name">退出</div>
                    <div class="fontclass">.icon-tuichu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fangwu"></i>
                    <div class="name">房屋</div>
                    <div class="fontclass">.icon-fangwu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wodeicon"></i>
                    <div class="name">我的</div>
                    <div class="fontclass">.icon-wodeicon</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-duoxuanbuxuan"></i>
                    <div class="name">多选-不选</div>
                    <div class="fontclass">.icon-duoxuanbuxuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wode"></i>
                    <div class="name">我的</div>
                    <div class="fontclass">.icon-wode</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tuichu1"></i>
                    <div class="name">退出</div>
                    <div class="fontclass">.icon-tuichu1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-erweima2"></i>
                    <div class="name">二维码</div>
                    <div class="fontclass">.icon-erweima2</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-pingjia1"></i>
                    <div class="name">评价</div>
                    <div class="fontclass">.icon-pingjia1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiugai1"></i>
                    <div class="name">修改</div>
                    <div class="fontclass">.icon-xiugai1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-gonggao-copy"></i>
                    <div class="name">公告</div>
                    <div class="fontclass">.icon-gonggao-copy</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yijian"></i>
                    <div class="name">意见</div>
                    <div class="fontclass">.icon-yijian</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-haibao"></i>
                    <div class="name">海报</div>
                    <div class="fontclass">.icon-haibao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-haibao1"></i>
                    <div class="name">海报</div>
                    <div class="fontclass">.icon-haibao1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yue"></i>
                    <div class="name">余额</div>
                    <div class="fontclass">.icon-yue</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-2xuanzhong"></i>
                    <div class="name">选中</div>
                    <div class="fontclass">.icon-2xuanzhong</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sort"></i>
                    <div class="name">分类</div>
                    <div class="fontclass">.icon-sort</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shangla"></i>
                    <div class="name">下拉</div>
                    <div class="fontclass">.icon-shangla</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fenlei"></i>
                    <div class="name">分类</div>
                    <div class="fontclass">.icon-fenlei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-huiyuanqia"></i>
                    <div class="name">会员卡</div>
                    <div class="fontclass">.icon-huiyuanqia</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-24"></i>
                    <div class="name">喜欢</div>
                    <div class="fontclass">.icon-24</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-daifahuo1"></i>
                    <div class="name">待发货</div>
                    <div class="fontclass">.icon-daifahuo1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-coupon"></i>
                    <div class="name">优惠券</div>
                    <div class="fontclass">.icon-coupon</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shangla1"></i>
                    <div class="name">上拉</div>
                    <div class="fontclass">.icon-shangla1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yue01"></i>
                    <div class="name">余额</div>
                    <div class="fontclass">.icon-yue01</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yijian1"></i>
                    <div class="name">意见</div>
                    <div class="fontclass">.icon-yijian1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-youhuiquan1"></i>
                    <div class="name">优惠券</div>
                    <div class="fontclass">.icon-youhuiquan1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shulin"></i>
                    <div class="name">树林</div>
                    <div class="fontclass">.icon-shulin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jifen-copy"></i>
                    <div class="name">积分</div>
                    <div class="fontclass">.icon-jifen-copy</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-daipingjia1"></i>
                    <div class="name">待评价</div>
                    <div class="fontclass">.icon-daipingjia1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yihan"></i>
                    <div class="name">遗憾</div>
                    <div class="fontclass">.icon-yihan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jifen"></i>
                    <div class="name">积分</div>
                    <div class="fontclass">.icon-jifen</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-daishouhuo"></i>
                    <div class="name">待收货</div>
                    <div class="fontclass">.icon-daishouhuo</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xihuan-copy"></i>
                    <div class="name">喜欢</div>
                    <div class="fontclass">.icon-xihuan-copy</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xianshiqianggou"></i>
                    <div class="name">限时抢购</div>
                    <div class="fontclass">.icon-xianshiqianggou</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fujin1"></i>
                    <div class="name">附近</div>
                    <div class="fontclass">.icon-fujin1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiugai2"></i>
                    <div class="name">修改</div>
                    <div class="fontclass">.icon-xiugai2</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhifu1"></i>
                    <div class="name">支付</div>
                    <div class="fontclass">.icon-zhifu1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-gender"></i>
                    <div class="name">性别</div>
                    <div class="fontclass">.icon-gender</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-remaichanpin"></i>
                    <div class="name">热卖产品</div>
                    <div class="fontclass">.icon-remaichanpin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yongjin1"></i>
                    <div class="name">佣金</div>
                    <div class="fontclass">.icon-yongjin1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shouye-copy-copy"></i>
                    <div class="name">首页-首页</div>
                    <div class="fontclass">.icon-shouye-copy-copy</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-haoyou"></i>
                    <div class="name">好友</div>
                    <div class="fontclass">.icon-haoyou</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tongzhi"></i>
                    <div class="name">通知</div>
                    <div class="fontclass">.icon-tongzhi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fangwuchushou"></i>
                    <div class="name">房屋出售</div>
                    <div class="fontclass">.icon-fangwuchushou</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fangwu1"></i>
                    <div class="name">房屋</div>
                    <div class="fontclass">.icon-fangwu1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shoujihao"></i>
                    <div class="name">手机号</div>
                    <div class="fontclass">.icon-shoujihao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tongzhi1"></i>
                    <div class="name">通知</div>
                    <div class="fontclass">.icon-tongzhi1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-youxiang-copy"></i>
                    <div class="name">邮箱</div>
                    <div class="fontclass">.icon-youxiang-copy</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-youxiang"></i>
                    <div class="name">邮箱</div>
                    <div class="fontclass">.icon-youxiang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shoujihao1"></i>
                    <div class="name">手机号</div>
                    <div class="fontclass">.icon-shoujihao1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wode1"></i>
                    <div class="name">我的</div>
                    <div class="fontclass">.icon-wode1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-huiyuanqia1"></i>
                    <div class="name">会员卡</div>
                    <div class="fontclass">.icon-huiyuanqia1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-remai"></i>
                    <div class="name">热卖</div>
                    <div class="fontclass">.icon-remai</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xianshi"></i>
                    <div class="name">限时</div>
                    <div class="fontclass">.icon-xianshi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shouye-copy"></i>
                    <div class="name">我的</div>
                    <div class="fontclass">.icon-shouye-copy</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shoujihao2"></i>
                    <div class="name">手机号</div>
                    <div class="fontclass">.icon-shoujihao2</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yijian2"></i>
                    <div class="name">意见</div>
                    <div class="fontclass">.icon-yijian2</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-touxiangshangchuan"></i>
                    <div class="name">头像上传</div>
                    <div class="fontclass">.icon-touxiangshangchuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-remaichanpin1"></i>
                    <div class="name">热卖产品</div>
                    <div class="fontclass">.icon-remaichanpin1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhifu2"></i>
                    <div class="name">支付</div>
                    <div class="fontclass">.icon-zhifu2</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-daishouhuo1"></i>
                    <div class="name">待收货</div>
                    <div class="fontclass">.icon-daishouhuo1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shangchuantouxiang"></i>
                    <div class="name">上传头像</div>
                    <div class="fontclass">.icon-shangchuantouxiang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-gengduo1"></i>
                    <div class="name">更多</div>
                    <div class="fontclass">.icon-gengduo1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-neirongbucunzai"></i>
                    <div class="name">内容不存在</div>
                    <div class="fontclass">.icon-neirongbucunzai</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shouye_shouye"></i>
                    <div class="name">首页_首页</div>
                    <div class="fontclass">.icon-shouye_shouye</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-aixinjuanzeng"></i>
                    <div class="name">亲密付</div>
                    <div class="fontclass">.icon-aixinjuanzeng</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shu"></i>
                    <div class="name">树</div>
                    <div class="fontclass">.icon-shu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-icon-test"></i>
                    <div class="name">代理</div>
                    <div class="fontclass">.icon-icon-test</div>
                </li>
            
        </ul>

        <h2 id="font-class-">font-class引用</h2>
        <hr>

        <p>font-class是unicode使用方式的一种变种，主要是解决unicode书写不直观，语意不明确的问题。</p>
        <p>与unicode使用方式相比，具有如下特点：</p>
        <ul>
        <li>兼容性良好，支持ie8+，及所有现代浏览器。</li>
        <li>相比于unicode语意明确，书写更直观。可以很容易分辨这个icon是什么。</li>
        <li>因为使用class来定义图标，所以当要替换图标时，只需要修改class里面的unicode引用。</li>
        <li>不过因为本质上还是使用的字体，所以多色图标还是不支持的。</li>
        </ul>
        <p>使用步骤如下：</p>
        <h3 id="-fontclass-">第一步：引入项目下面生成的fontclass代码：</h3>


        <pre><code class="lang-js hljs javascript"><span class="hljs-comment">&lt;link rel="stylesheet" type="text/css" href="./iconfont.css"&gt;</span></code></pre>
        <h3 id="-">第二步：挑选相应图标并获取类名，应用于页面：</h3>
        <pre><code class="lang-css hljs">&lt;<span class="hljs-selector-tag">i</span> <span class="hljs-selector-tag">class</span>="<span class="hljs-selector-tag">iconfont</span> <span class="hljs-selector-tag">icon-xxx</span>"&gt;&lt;/<span class="hljs-selector-tag">i</span>&gt;</code></pre>
        <blockquote>
        <p>"iconfont"是你项目下的font-family。可以通过编辑项目查看，默认是"iconfont"。</p>
        </blockquote>
    </div>
</body>
</html>
