{template 'common/header-sj-news'}
<link rel="stylesheet" href="{$_W['siteroot']}app/resource/components/swiper/swiper.min.css">
<style type="text/css">
    /* swiper */
    .swiper-container {
        width: 100%;
        height: 100%;
        background: #ffffff;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .swiper-container{
        background: #ffffff;
    }
    .swiper-container .swiper-slide{
        height: auto!important;
    }
    .swiper-container .swiper-slide img{
        width: 100%;
        height: auto;
        min-height: 100px;
        max-height: 150px;
    }
    .box-img{height:100px;width:100%;border:1px solid #eee;}
    .cover-img{width:100%;height:100%;background-size:cover;background-position:50%;}
    section{position: relative;}
    .tag-bottom{position: absolute;bottom: 0;}
</style>
<style type="text/css">
    .box-img{height:100px;width:100%;border:1px solid #eee;}
    .cover-img{width:100%;height:100%;background-size:cover;background-position:50%;}
    .swiper-container{
        position: relative;
    }
    .swiper-container .set-city{
        position: absolute;
        left: 5px;
        top: 5px;
        z-index: 3;
    }
    .swiper-container .set-city span{
        background: rgba(0,0,0,0.5);
        font-size: 12px;
        padding: 2px 10px;
        color:#ffffff;
        border-radius: 10px;
    }
    .item_info{
        height: 25px;
        line-height: 25px;
    }
</style>
<link rel="stylesheet" href="{ASSETS_URL}/sj_news/css/index.css?v={STYLE_VERSION}">
<link rel="stylesheet" href="{ASSETS_URL}/sj_news/css/a.css?v={STYLE_VERSION}">
<div class="page-index">
    {template 'common/category-sj-news'}
    <div class="swiper-container swiper-container">
        <a class="set-city" href="{php echo $this->createMobileUrl('point');}">
            <span>切换城市</span>
        </a>
        <div class="swiper-wrapper">
            {loop $ad1s $ad1}
            <a class="swiper-slide" {if !empty($ad1['link'])} href="{$ad1['link']}"{/if}>
            <img src="{php echo tomedia($ad1['thumb']);}">
            </a>
            {/loop}
            {if empty($ad1s)}
            {loop $slides $slide}
            <a class="swiper-slide" {if !empty($slide['link'])} href="{$slide['link']}"{/if}>
            <img src="{php echo tomedia($slide['thumb']);}">
            </a>
            {/loop}
            {/if}
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-1"></div>
    </div>
    <script type="text/javascript">
        require(['swiper'],function(){
            var swiper = new Swiper('.swiper-container', {
                pagination: '.swiper-pagination',
                paginationClickable: true,
                autoplay: 5000//可选选项，自动滑动
            });
        });
    </script>
    <div style="margin-top: 10px;" id="pageletListContent" class="feed-list-container">
        <!-- react-empty: 33 -->
        <div class="list_content">
            {loop $list $li_index $li}
            <!-- 广告区域 -->
            {if  $li_index!=0 && $li_index%5 == 0 && !empty($ad2s[($li_index/5)%($adCount)])}
            <section class="has_action">
                <a href="{php echo $ad2s[($li_index/5)%($adCount)]['link'];}" class="article_link clearfix ">
                    <div class="item_detail">
                        <h3 class="dotdot line3">{php echo $ad2s[($li_index/5)%($adCount)]['title'];}</h3>
                        <div style="height: 180px;">
                            <div class="box-img" style="height: 100%">
                                <div class="cover-img" style="background-image: url('{php echo $ad2s[($li_index/5)%($adCount)]['thumb'];}')"></div>
                            </div>
                        </div>
                        <div class="item_info">
                            <div class="tag-bottom">
                                <span class="gg_label space">广告</span>
                                <span class="city_label space">{php echo $ad2s[($li_index/5)%($adCount)]['industry'];}</span>
                            </div>
                        </div>
                    </div>
                </a>
            </section>
            {/if}
            <!-- 广告区域 -->
            {if !empty($li['audio_src']) || !empty($li['video_src'])}
            <!-- 声音或者视频 -->
            <section class="has_action">
                <a href="{php echo $this->createMobileUrl('detail',array('id'=>$li['id']));}" class="article_link clearfix channel__video">
                    <div class="item_detail">
                        <div class="list_img_holder_large" style="margin-bottom: 10px;height: 180px;">
                            <div class="video_mask"></div>
                            <h3 class="dotdot line3">{$li['title']}</h3>
                            <div style="width:100%;height:180px;background-size:cover;background-position:50%;background-image: url('{if empty($li['thumb'])}/assets/sj_news/img/err_imgs/video.png{else}{$li['thumb']}{/if}')"></div>
                            <span class="video-btn"></span>
                        </div>
                        <div class="item_info">
                            <div class="tag-bottom">
                                <span class="src space">{$li['category']}</span>
                                <span class="cmt space">评论&nbsp;{$li['talk_num']}</span>
                                <span class="time">{php echo date('Y-m-d',$li['createtime']);}</span>
                                <span class="dislike-news fr"></span>
                            </div>
                        </div>
                    </div>
                </a>
            </section>
            {else}
            {if $li['show_type'] == 0}
            <!-- 新闻没有图片的时候 -->
            <section class="has_action">
                <a href="{php echo $this->createMobileUrl('detail',array('id'=>$li['id']));}" class="article_link clearfix ">
                    <div class="item_detail">
                        <h3 class="dotdot line3">{$li['title']}</h3>
                        <div class="item_info">
                            <div class="tag-bottom">
                                <span class="city_label space">
                                    {if $li['push_type'] == 0}
                                    {$li['author']}
                                    {/if}
                                    {if $li['push_type'] == 1}
                                    {php echo str_replace('市','',$li['city']);}
									{/if}
                                    {if $li['push_type'] == 2}
                                    报社
                                    {/if}
                                </span>
                                <span class="src space">{$li['category']}</span>
                                <span class="cmt space">评论&nbsp;{$li['talk_num']}</span>
                                <span class="time">{php echo date('Y-m-d',$li['createtime']);}</span>
                            </div>
                        </div>
                    </div>
                </a>
            </section>
            <!-- 新闻没有图片的时候 -->
            {/if}


            {if $li['show_type'] == 1}
            <!-- 新闻有 少于3张 图片的时候 -->
            <section class="middle_mode has_action">
                <a href="{php echo $this->createMobileUrl('detail',array('id'=>$li['id']));}" class="article_link clearfix">
                    <div class="item_detail desc">
                        <h3 class="dotdot line3 image-margin-right">{$li['title']}</h3>
                        <div class="item_info">
                            <div class="tag-bottom">
                                <span class="city_label space">
                                    {if $li['push_type'] == 0}
                                    {$li['author']}
                                    {/if}
                                    {if $li['push_type'] == 1}
                                    {php echo str_replace('市','',$li['city']);}
                                    {/if}
                                    {if $li['push_type'] == 2}
                                    报社
                                    {/if}
                                </span>
                                <span class="src space">{$li['category']}</span>
                                <span class="cmt space">评论&nbsp;{$li['talk_num']}</span>
                                <span class="time">{php echo date('Y-m-d',$li['createtime']);}</span>
                            </div>
                        </div>
                    </div>
                    <div class="list_img_holder">
                        <div class="box-img">
                            <div class="cover-img" style="background-image: url('{$li['thumb']}')"></div>
                        </div>
                    </div>
                </a>
            </section>
            <!-- 新闻有 3张 图片的时候 -->
            {/if}


            {if $li['show_type'] == 2}
            <!-- 新闻至少3张 图片的时候 -->
            <section class="has_action">
                <a href="{php echo $this->createMobileUrl('detail',array('id'=>$li['id']));}" class="article_link clearfix ">
                    <div class="item_detail">
                        <h3 class="dotdot line3">{$li['title']}</h3>
                        <div class="list_image">
                            <ul class="clearfix">
                                {loop $li['thumbs'] $thumb}
                                <li class="list_img_holder">
                                    <div class="box-img">
                                        <div class="cover-img" style="background-image: url('{$thumb}')"></div>
                                    </div>
                                    <!--<img onerror="this.src='/assets/sj_news/img/err_imgs/{php echo rand(1,21);}.jpg'" src="{$thumb}">-->
                                </li>
                                {/loop}
                            </ul>
                        </div>
                        <div class="item_info">
                            <div class="tag-bottom">
                                <span class="city_label space">
                                    {if $li['push_type'] == 0}
                                    {$li['author']}
                                    {/if}
                                    {if $li['push_type'] == 1}
                                    {php echo str_replace('市','',$li['city']);}
                                    {/if}
                                    {if $li['push_type'] == 2}
                                    报社
                                    {/if}
                                </span>
                                <span class="src space">{$li['category']}</span>
                                <span class="cmt space">评论&nbsp;{$li['talk_num']}</span>
                                <span class="time">{php echo date('Y-m-d',$li['createtime']);}</span>
                            </div>
                        </div>
                    </div>
                </a>
            </section>
            <!-- 新闻至少3张 图片的时候 -->
            {/if}
            {/if}
            {/loop}
        </div>
    </div>
    <!-- 分页组件 -->
    <style type="text/css">
        #mPage .clr{
            font-size: 12px;
            display: flex;
            display: -webkit-flex;
            margin: 20px 0;
            padding: 0;
            justify-content: center;
            align-items: center;
        }
        #mPage .clr li{
            padding: 0 10px;
            height: 35px;
            line-height: 35px;
            list-style: none;
            margin: 0;
            border: 1px solid #eee;
        }
        #mPage .clr li:nth-child(2n){
            margin: 0 10px;
        }
        #mPage .clr li select{
            padding: 0;
            margin: 0;
            border: 0!important;
        }

    </style>
    {$pager}
    <!-- 分页组件 -->
    {template 'common/nav-sj'}
</div>
{template 'common/location'}
{template 'common/footer-sj-news'}