{template 'common/header-sj-news'}
<link rel="stylesheet" href="{$_W['siteroot']}app/resource/components/swiper/swiper.min.css">
<style type="text/css">
    .box-img{height:100px;width:100%;border:1px solid #eee;}
    .cover-img{width:100%;height:100%;background-size:cover;background-position:50%;}
</style>
<link rel="stylesheet" href="{ASSETS_URL}/sj_news/css/index.css?v={STYLE_VERSION}">
<link rel="stylesheet" href="{ASSETS_URL}/sj_news/css/a.css?v={STYLE_VERSION}">
<div class="page-index">
    {template 'common/category-sj-news'}
    <div  style="margin-top: 10px;"  id="pageletListContent" class="feed-list-container">
        <!-- react-empty: 33 -->
        <div class="list_content">
            {loop $list $li_index $li}
            <!-- 广告区域 -->
            {if ($li_index+1)%6 == 0}
            {if true}
            <section class="has_action">
                <a href="{php echo $this->createMobileUrl('detail',array('id'=>$li['id']));}" class="article_link clearfix ">
                    <div class="item_detail">
                        <h3 class="dotdot line3">{$li['title']}</h3>
                        <div class="list_image">
                            <ul class="clearfix">
                                {loop $li['thumbs'] $thumb}
                                <li class="list_img_holder">
                                    <div class="box-img">
                                        <div class="cover-img" style="background-image: url('{$thumb}')"></div>
                                    </div>
                                    <!--<img onerror="this.src='/assets/sj_news/img/err_imgs/{php echo rand(1,21);}.jpg'" src="{$thumb}">-->
                                </li>
                                {/loop}
                            </ul>
                        </div>
                        <div class="item_info">
                            <div>
                                <span class="gg_label space">广告</span>
                                <span class="src space">{$li['category']}</span>
                                <span class="cmt space">评论&nbsp;{$li['talk_num']}</span>
                                <span class="time">{php echo date('Y-m-d',$li['createtime']);}</span>
                            </div>
                        </div>
                    </div>
                </a>
            </section>
            {else}
            <section class="middle_mode has_action">
                <a href="{php echo $this->createMobileUrl('detail',array('id'=>$li['id']));}" class="article_link clearfix">
                    <div class="item_detail desc">
                        <h3 class="dotdot line3 image-margin-right">{$li['title']}</h3>
                        <div class="item_info">
                            <div>
                                <span class="gg_label space">广告</span>
                                <span class="src space">{$li['category']}</span>
                                <span class="cmt space">评论&nbsp;{$li['talk_num']}</span>
                                <span class="time">{php echo date('Y-m-d',$li['createtime']);}</span>
                            </div>
                        </div>
                    </div>
                    <div class="list_img_holder">
                        <div class="box-img">
                            <div class="cover-img" style="background-image: url('{$li['thumb']}')"></div>
                        </div>
                    </div>
                </a>
            </section>
            {/if}
            {/if}
            <!-- 广告区域 -->
            {if !empty($li['audio_src']) || !empty($li['video_src'])}
            <!-- 声音或者视频 -->
            <section class="has_action">
                <a href="{php echo $this->createMobileUrl('detail',array('id'=>$li['id']));}" class="article_link clearfix channel__video">
                    <div class="item_detail">
                        <div class="list_img_holder_large">
                            <div class="video_mask"></div>
                            <h3 class="dotdot line3">{$li['title']}</h3>
                            <div style="width:100%;height:120px;background-size:cover;background-position:50%;background-image: url('{if empty($li['thumb'])}/assets/sj_news/img/err_imgs/video.png{else}{$li['thumb']}{/if}')"></div>
                            <span class="video-btn"></span>
                        </div>
                        <div class="item_info">
                            <div>
                                <span class="src space">{$li['category']}</span>
                                <span class="cmt space">评论&nbsp;{$li['talk_num']}</span>
                                <span class="time">{php echo date('Y-m-d',$li['createtime']);}</span>
                                <span data-id="6481057487108702733" class="dislike-news fr"></span>
                            </div>
                        </div>
                    </div>
                </a>
            </section>
            {else}
            {if $li['show_type'] == 0}
            <!-- 新闻没有图片的时候 -->
            <section class="has_action">
                <a href="{php echo $this->createMobileUrl('detail',array('id'=>$li['id']));}" class="article_link clearfix ">
                    <div class="item_detail">
                        <h3 class="dotdot line3">{$li['title']}</h3>
                        <div class="item_info">
                            <div>
                                {if $li['type'] == 0}
                                        <span class="city_label space">
                                            {if !empty($li['city'])}
                                               {php echo str_replace('市','',$li['city']);}
                                            {else}
                                                太原
                                            {/if}
                                        </span>
                                {/if}
                                <span class="src space">{$li['category']}</span>
                                <span class="cmt space">评论&nbsp;{$li['talk_num']}</span>
                                <span class="time">{php echo date('Y-m-d',$li['createtime']);}</span>
                            </div>
                        </div>
                    </div>
                </a>
            </section>
            <!-- 新闻没有图片的时候 -->
            {/if}


            {if $li['show_type'] == 1}
            <!-- 新闻有 少于3张 图片的时候 -->
            <section class="middle_mode has_action">
                <a href="{php echo $this->createMobileUrl('detail',array('id'=>$li['id']));}" class="article_link clearfix">
                    <div class="item_detail desc">
                        <h3 class="dotdot line3 image-margin-right">{$li['title']}</h3>
                        <div class="item_info">
                            <div>
                                {if $li['type'] == 0}
                                        <span class="city_label space">
                                            {if !empty($li['city'])}
                                               {php echo str_replace('市','',$li['city']);}
                                            {else}
                                                太原
                                            {/if}
                                        </span>
                                {/if}
                                <span class="src space">{$li['category']}</span>
                                <span class="cmt space">评论&nbsp;{$li['talk_num']}</span>
                                <span class="time">{php echo date('Y-m-d',$li['createtime']);}</span>
                            </div>
                        </div>
                    </div>
                    <div class="list_img_holder">
                        <div class="box-img">
                            <div class="cover-img" style="background-image: url('{$li['thumb']}')"></div>
                        </div>
                    </div>
                </a>
            </section>
            <!-- 新闻有 3张 图片的时候 -->
            {/if}


            {if $li['show_type'] == 2}
            <!-- 新闻至少3张 图片的时候 -->
            <section class="has_action">
                <a href="{php echo $this->createMobileUrl('detail',array('id'=>$li['id']));}" class="article_link clearfix ">
                    <div class="item_detail">
                        <h3 class="dotdot line3">{$li['title']}</h3>
                        <div class="list_image">
                            <ul class="clearfix">
                                {loop $li['thumbs'] $thumb}
                                <li class="list_img_holder">
                                    <div class="box-img">
                                        <div class="cover-img" style="background-image: url('{$thumb}')"></div>
                                    </div>
                                    <!--<img onerror="this.src='/assets/sj_news/img/err_imgs/{php echo rand(1,21);}.jpg'" src="{$thumb}">-->
                                </li>
                                {/loop}
                            </ul>
                        </div>
                        <div class="item_info">
                            <div>
                                {if $li['type'] == 0}
                                        <span class="city_label space">
                                            {if !empty($li['city'])}
                                               {php echo str_replace('市','',$li['city']);}
                                            {else}
                                                太原
                                            {/if}
                                        </span>
                                {/if}
                                <span class="src space">{$li['category']}</span>
                                <span class="cmt space">评论&nbsp;{$li['talk_num']}</span>
                                <span class="time">{php echo date('Y-m-d',$li['createtime']);}</span>
                            </div>
                        </div>
                    </div>
                </a>
            </section>
            <!-- 新闻至少3张 图片的时候 -->
            {/if}
            {/if}
            {/loop}
        </div>
    </div>
    <!-- 分页组件 -->
    <style type="text/css">
        #mPage .clr{
            font-size: 12px;
            display: flex;
            display: -webkit-flex;
            margin: 20px 0;
            padding: 0;
            justify-content: center;
            align-items: center;
        }
        #mPage .clr li{
            padding: 0 10px;
            height: 35px;
            line-height: 35px;
            list-style: none;
            margin: 0;
            border: 1px solid #eee;
        }
        #mPage .clr li:nth-child(2n){
            margin: 0 10px;
        }
        #mPage .clr li select{
            padding: 0;
            margin: 0;
            border: 0!important;
        }

    </style>
    {$pager}
    <!-- 分页组件 -->
    {template 'common/nav-sj'}
</div>
{template 'common/location'}
{template 'common/footer-sj-news'}