{template 'common/header-sj-news'}
<link rel="stylesheet" href="{ASSETS_URL}/sj_news/css/push.css?v={STYLE_VERSION}">
<div class="page-push">
    <div class="push-header">
        <span style="cursor: pointer;" onclick="history.back()">&lt;返回</span>
        <span>发布文字</span>
        <button type="button" class="js-push">发布</button>
    </div>
    <div style="height: 45px"></div>
    <div class="text-box">
        <form id="post_form">
            <div class="title-desc">
                <span>标题：</span>
                <input type="text" maxlength="255" name="title" placeholder="请输入标题">
            </div>
            <div class="category-list">
                <span>类别：</span>
                <select class="form-control" name="cid">
                    <option value="0">请选择分类</option>
                    {loop $categories $category}
                    <option value="{$category['id']}">{$category['title']}</option>
                    {/loop}
                </select>
            </div>
            <div class="title-desc">
                <span>署名：</span>
                <input type="text" maxlength="20" name="author" placeholder="请输入署名">
            </div>
            <textarea name="detail" autofocus placeholder="这一刻的想法..."></textarea>
        </form>
        <a style="color: #333333;" href="{$_W['siteroot']}app/index.php?i={$_W['uniacid']}&c=entry&do=point&m=sj_news">
            <i class="iconfont icon-coordinates_fill"></i>
            {if empty($_W['location'])}
            点击选择位置
            {else}
            {php echo $_W['location']['province'].$_W['location']['city'].$_W['location']['district'];}&nbsp;[切换]
            {/if}
        </a>
    </div>
    <span class="js-look-xy">发布说明</span>
    {template 'common/location'}
    {template 'common/nav-sj'}
    <script type="text/javascript">
        require(['util','layer'],function(util,layer){
            $('.js-look-xy').click(function(){
                layer.alert('{php echo htmlspecialchars_decode($setting["push_introduce"]);} ',{
                    title:'发布说明',
                    btn: ['同意']
                });
            });

            $('.js-push').click(function(){
                var obj = $(this);
                $('.js-toast-loading').show();
                util.loading();
                obj.html('发布中').attr('disabled','disabled');
                $.post(
                    window.location.href,
                    $('#post_form').serialize(),
                    function(ret){
                        if(ret.type == 'error'){
                            obj.html('发布').removeAttr('disabled');
                        }
                        $('.js-toast-loading').hide();
                        util.toast(ret.message,ret.redirect,ret.type);
                    },'json'
                );
            });
        });
    </script>
</div>
{template 'common/footer-sj-news'}