{template 'common/header-oto'}
<link rel="stylesheet" href="{ASSETS_URL}/oto/css/verify.css?v={STYLE_VERSION}">
<div class="page-verify">
    <i class="icon iconfont icon-fanhui back" style="color: #ffffff" onclick="history.go('-1')"></i>
    <div class="logo">
            <img src="/assets/oto/images/check_logo.jpg">
        </div>
        <div class="login-box">
            <div class="input-box">
                <span class="left-span">原会员ID：</span>
                <input type="text" name="uid">
            </div>
            <div class="input-box">
                <span class="left-span">原手机号：</span>
                <input type="text" name="mobile">
            </div>
        </div>
        <div class="recover">
            <button data-type="1" class="js-recover" style="background: red;color: #ffffff">老会员，恢复数据</button>
            <p class="desc" style="text-align: center">
                原会员请点击<span style="color: yellow">恢复数据</span>,<br>已经恢复的或新会员，请点击<span style="color: yellow">新会员直接进入</span>，<br>否则后果自负！
            </p>
            <button style="margin-top: 20px;background: teal;" data-type="2" class="js-recover">新会员直接进入</button>
        </div>
</div>
<script type="text/javascript">
    require([],function(){
        $('.js-recover').bind('click',function(){
            var type = $(this).attr('data-type');
            if(type == '2'){
                if(!confirm('如果你是老会员，请点击恢复数据，确定要直接进入吗？')){
                    return false;
                }
            }
            $.post(
                window.location.href,
                    {
                        type:type,
                        uid:$('input[name="uid"]').val(),
                        mobile:$('input[name="mobile"]').val()
                    },function(ret){
                        util.toast(ret.message,ret.redirect,ret.type);
                    },'json'
            );
        });
    });
</script>
{template 'common/footer-oto'}