.page-collect {
    position: relative;
}
.page-collect .collect-header {
    height: 50px;
    background: #06c1ae;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
    width: 100%;
    z-index: 3;
    position: fixed;
}
.page-collect .collect-header i.back{
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    left: 0;
    top: 0;
    font-size: 21px;
}
.collect-tabs{
    position: fixed;
    width: 100%;
    top: 50px;
    height: 45px;
    line-height: 45px;
    background: #ffffff;
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    border-bottom: 1px solid #DDD8CD;
    z-index: 3;
}
.collect-tabs span{
    color: #999999;
}
.collect-tabs span.active{
    color: #06c1ae;
    border-bottom: 2px solid #06c1ae;
}
.collect-list{
    margin-top: 5px;
}
.collect-list .goods-item{
    display: block;
    position: relative;
    min-height: 100px;
    border-top: 1px solid #DDD8CD;
    border-bottom: 1px solid #DDD8CD;
    margin-bottom: 10px;
    background: #ffffff;
    padding-left: 100px;
}
.collect-list .goods-item .goods-name{
    color: #000000;
    font-size: 14px;
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
}
.collect-list .goods-item .goods-price{
    height: 30px;
    line-height: 30px;
    color: red;
}
.collect-list .goods-item .goods-price span{
    font-size: 16px;
}
.collect-list .goods-item .goods-old-price{
    color: #999999;
}
.collect-list .goods-item .goods-old-price span{
    text-decoration: line-through;
}
.collect-list .goods-item img{
    width: 90px;
    height: 90px;
    position: absolute;
    left: 5px;
    top: 5px;
}

.collect-list .store-item{
    display: block;
    position: relative;
    min-height: 90px;
    border-top: 1px solid #DDD8CD;
    border-bottom: 1px solid #DDD8CD;
    margin-bottom: 10px;
    background: #ffffff;
    padding-left: 90px;
}
.collect-list .store-item img{
    width: 80px;
    height: 80px;
    position: absolute;
    left: 5px;
    top: 5px;
}
.collect-list .store-item .store-name{
    color: #000000;
    font-size: 14px;
    line-height: 30px;
    height: 30px;
    overflow: hidden;
}
.collect-list .store-item .store-address{
    font-size: 12px;
    color: #333333;
    line-height: 16px;
}
.collect-list .store-item .store-collect{
    font-size: 12px;
    color: #333333;
    line-height: 16px;
    margin-top: 5px;
}

.no-data{
    margin: 0 auto;
    padding: 10px 0;
    background: #ffffff;
    text-align: center;
    line-height: 50px;
}
.no-data-tips-box{
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    margin: 0 auto;
    background: #eee;
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
}
.no-data-tips-box i{
    color: darkgrey;
    font-size: 32px!important;
}
.no-data-link{
    display: block;
    margin: 0 auto;
    height: 30px;
    width: 120px;
    border: 1px solid #eee;
    background: #ff9c05;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
}
.no-data-tips{
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: darkgrey;
}
a{
    text-decoration: none!important;
}
.mui-toast-message {
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 20px!important;
    font-size: 14px!important;
}

.ajax-more {
    height: 40px;
    margin-top: 10px;
    background: #ffffff;
    line-height: 40px;
    text-align: center;
}