{template 'common/header'}
<div class="platform-tab">
    <ul>
    <li {if $op == 'display'}class="active"{/if}>
    <a href="{php echo $this->createWebUrl('goods',array('op'=>'display'));}">商品列表</a>
    </li>
    {if $op == 'post_goods' && !empty($item)}
    <li class="active">
        <a href="{php echo $this->createWebUrl('goods',array('op'=>'post_goods','id'=>$item['id']));}">修改商品</a>
    </li>
    {/if}
    <li {if $op == 'category'}class="active"{/if}>
    <a href="{php echo $this->createWebUrl('goods',array('op'=>'category'));}">商品分类列表</a>
    </li>
    {if $op == 'post_category' && !empty($item)}
    <li class="active">
        <a href="{php echo $this->createWebUrl('goods',array('op'=>'post_category'));}">修改商品分类</a>
    </li>
    {/if}
    <li {if $op == 'post_category' && empty($item)}class="active"{/if}>
    <a href="{php echo $this->createWebUrl('goods',array('op'=>'post_category'));}">添加商品分类</a>
    </li>
</ul>
</div>
<div class="page-content">
{if $op == 'display'}
    <div class="panel panel-info">
        <div class="panel-heading">筛选</div>
        <div class="panel-body">
            <form method="get" action="./index.php" class="form-horizontal" role="form">
                <input type="hidden" name="c" value="site" />
                <input type="hidden" name="a" value="entry" />
                <input type="hidden" name="op" value="display" />
                <input type="hidden" name="do" value="goods" />
                <input type="hidden" name="m" value="oto" />
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">关键词</label>
                    <div class="col-sm-6 col-md-8 col-lg-8 col-xs-12">
                        <input type="text" class="form-control" name="keyword" value="{$_GPC['keyword']}" placeholder="请输入关键词，商品名称" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">类别</label>
                    <div class="col-sm-8 col-xs-12">
                        <select name="category_id" class="form-control">
                            <option value="0">全部类别</option>
                            {if !empty($category) && is_array($category)}
                            {loop $category $c_item}
                            <option {if $category_id == $c_item['id']}selected{/if} value="{$c_item['id']}">{$c_item['title']}</option>
                            {/loop}
                            {/if}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">显示状态</label>
                    <div class="col-sm-9 col-xs-12">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="is_display[]" value="{DISPLAY_YES}" {if in_array(DISPLAY_YES,$is_display)}checked{/if}>
                            显示
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="is_display[]" value="{DISPLAY_NO}"  {if in_array(DISPLAY_NO,$is_display)}checked{/if}>
                            隐藏
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">审核状态</label>
                    <div class="col-sm-9 col-xs-12">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="is_check[]" value="{CHECK_PASS}" {if in_array(CHECK_PASS,$is_check)}checked{/if}>
                            通过
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="is_check[]" value="{CHECK_NOT_PASS}" {if in_array(CHECK_NOT_PASS,$is_check)}checked{/if}>
                            未通过
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6 col-md-8 col-lg-8 col-xs-12 col-sm-offset-2 col-md-offset-2">
                        <button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
                        <input type="hidden" name="token" value="{$_W['token']}"/>
                        <input class="btn btn-primary" type="submit" name="export_submit" id="export_submit" value="导出">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <form method="post" class="form-horizontal" id="post_goods">
        <input type="hidden" name="ac" value="delete" />
        <div class="panel panel-default ">
            <div class="table-responsive panel-body">
                <table class="table table-hover">
                    <thead class="navbar-inner">
                    <tr>
                        <th>删?</th>
                        <th>序号</th>
                        <th>名称</th>
                        <th>分类</th>
                        <th>商家</th>
                        <th>价格</th>
                        <th>库存</th>
                        <th>销量</th>
                        <th>属性</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {loop $list $li}
                    <tr>
                        <input type="hidden" name="order_by_ids[]" value="{$li['id']}">
                        <td><input type="checkbox" name="ids[]" value="{$li['id']}"></td>
                        <td><input class="form-control" type="text" name="order_by[{$li['id']}]" value="{$li['order_by']}"></td>
                        <td>{$li['title']}</td>
                        <td>{$categoryList[$li['category_id']]['title']}</td>
                        <td>{$li['store_name']}</td>
                        <td>￥{$li['sale_price']}/{$li['unit']}</td>
                        <td>{$li['total']}</td>
                        <td>{$li['sale_count']}</td>
                        <td style="line-height: 25px;">
                            {if $li['is_check']==1}<span class="label label-success">通过</span>{else}<span class="label label-default">未通过</span>{/if}
                            {if $li['is_display']==1}<span class="label label-success">显示</span>{else}<span class="label label-default">隐藏</span>{/if}
                            {if $li['is_free_post']==1}<span class="label label-success">包邮</span>{else}<span class="label label-default">不包邮</span>{/if}
                        </td>
                        <td>
                            <a href="{php echo $this->createWebUrl('goods',array('op'=>'post_goods','id'=>$li['id']));}" title="编辑"><i class="fa fa-edit"></i>&nbsp;编辑</a>
                        </td>
                    </tr>
                    {/loop}
                    {if !empty($list) && is_array($list)}
                    <tr>
                        <td><input type="checkbox" name="" onclick="var ck = this.checked;$(':checkbox').each(function(){this.checked = ck});"></td>
                        <input name="token" type="hidden" value="{$_W['token']}" />
                        <td colspan="6">
                            <button type="button" name="submit" class="btn btn-primary">删除</button>
                            <button data-type="update_no" type="button" class="btn btn-success js-update-no">批量更新序号</button>
                        </td>
                    </tr>
                    {/if}
                    </tbody>
                </table>
            </div>
        </div>
        {$pager}
    </form>
    <script type="text/javascript">
        require(['bootstrap'], function(){
            $('.js-update-no').bind('click',function(){
                $('input[name="ac"]').val('update_no');
                $.post(
                        window.location.href,
                        $('#post_goods').serialize(),
                        function(ret){
                            util.message(ret.message,ret.redirect,ret.type);
                        },'json'
                );
            });

            $('button[name="submit"]').bind('click',function() {
                if (confirm('删除后不可恢复，您确定删除吗？')) {
                    if ($(":checkbox[name='ids[]']:checked").size() > 0) {
                        $.post(
                                "{php echo $this->createWebUrl('goods',array('op'=>'post_goods'));}",
                                $('#post_goods').serialize(),
                                function (ret) {
                                    util.message(ret.message, ret.redirect, ret.type);
                                    return false;
                                }, 'json'
                        );
                    }
                    util.message('没有选择要删除的商品！', '', 'error');
                    return false;
                }
            });
        });
    </script>
{elseif $op == 'post_goods'}
    <div class="main">
        <form method="post" class="form-horizontal form" id="post_goods_form">
            <div class="panel panel-info">
                <div class="panel-heading">
                    商品基本信息
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span class="text-danger">*</span>商品名称</label>
                        <div class="col-sm-8 col-xs-12">
                            <input type="text" class="form-control" name="title" value="{$item['title']}" placeholder="请输入商品名称"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span class="text-danger">*</span>平台商品分类</label>
                        <div class="col-sm-8 col-xs-12">
                            <select class="form-control" name="category_id">
                                <option value="0">平台商品分类</option>
                                {loop $category $c_item}
                                <option value="{$c_item['id']}">{$c_item['title']}</option>
                                {/loop}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span class="text-danger">*</span>店铺商品分类</label>
                        <div class="col-sm-8 col-xs-12">
                            <select class="form-control" name="store_category_id">
                                <option value="0">商家商品分类</option>
                                {loop $store_category $sc_item}
                                <option value="{$sc_item['id']}">{$sc_item['title']}</option>
                                {/loop}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span class="text-danger">*</span>商品类型</label>
                        <div class="col-sm-8 col-xs-12">
                            <select class="form-control" name="type">
                                <option value="0">实物</option>
                                <option value="1">虚拟</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品条形编码</label>
                        <div class="col-sm-8 col-xs-12">
                            <input type="text" name="product_code"  class="form-control" placeholder="请输入商品条形编码" value="{$item['product_code']}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品简介</label>
                        <div class="col-sm-8 col-xs-12">
                            <textarea name="desc"  class="form-control" placeholder="输入商品简介">{$item['desc']}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span class="text-danger">*</span> 商品图片</label>
                        <div class="col-sm-8 col-xs-12">
                            {php echo tpl_form_field_image('thumb',$item['thumb']);}
                            <span class="help-block">建议尺寸：300*300</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span class="text-danger">*</span> 商品详情轮播图</label>
                        <div class="col-sm-8 col-xs-12">
                            {php echo tpl_form_field_multi_image('thumbs', $item['thumbs']);}
                            <span class="help-block">建议尺寸：600*300</span>
                        </div>
                    </div>
                    <div class="form-group" style="display: none">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span class="text-danger">*</span> 出厂价/成本</label>
                        <div class="col-sm-8 col-xs-12">
                            <input type="text" readonly="readonly" name="cost_price" class="form-control" value="{$item['cost_price']}" placeholder="请输入商品出厂价/成本，单位：元"/>
                        </div>
                    </div>
                    <div class="form-group" style="display: none">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span class="text-danger">*</span> 原价/市场价</label>
                        <div class="col-sm-8 col-xs-12">
                            <input type="text" class="form-control" name="market_price" value="{if !empty($item['market_price'])}{$item['market_price']}{else}{$item['cost_price']}{/if}" placeholder="请输入商品市场价/原价，单位：元"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span class="text-danger">*</span> 售价/现价</label>
                        <div class="col-sm-8 col-xs-12">
                            <input type="text" class="form-control" name="sale_price" value="{if !empty($item['sale_price'])}{$item['market_price']}{else}{$item['cost_price']}{/if}" placeholder="请输入商品售价/现价，单位：元"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">赠送积分</label>
                        <div class="col-sm-8 col-xs-12">
                            <input type="text" class="form-control" name="give_credit1" value="{$item['give_credit1']}" placeholder="0"/>
                            <span class="help-block">
                                会员购物赠送的积分, 如果不填写或填写0，则默认为不赠送积分，如果带%则为按成交价格的比例计算积分
                                <br>如: 购买2件，设置10 积分, 不管成交价格是多少， 则购买后获得20积分
                                <br>如: 购买2件，设置10%积分, 成交价格2 * 200= 400， 则购买后获得 40 积分（400*10%）
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">单次最多购买量</label>
                        <div class="col-sm-8 col-xs-12">
                            <input type="text" class="form-control" name="max_buy_num" value="{$item['max_buy_num']}" placeholder="0"/>
                            <span class="help-block">用户单次购买此商品数量限制,0或者空表示不限制</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">用户最多购买量，0或者空表示不限制</label>
                        <div class="col-sm-8 col-xs-12">
                            <input type="text" class="form-control" name="user_max_buy_num" value="{$item['user_max_buy_num']}" placeholder="0"/>
                            <span class="help-block">用户购买过的此商品数量限制</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">开启限时购</label>
                        <div class="col-sm-8 col-xs-12">
                            <label class="radio-inline">
                                <input type="radio" name="is_open_limit_time_buy" value="{OPEN_STATUS}" {if $item['is_open_limit_time_buy'] == OPEN_STATUS}checked{/if}>
                                开启限时购
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="is_open_limit_time_buy" value="{CLOSE_STATUS}" {if $item['is_open_limit_time_buy'] != OPEN_STATUS}checked{/if}>
                                关闭限时购
                            </label>
                        </div>
                    </div>
                    <div class="form-group js-limit-buy-box" {if $item['is_open_limit_time_buy'] != OPEN_STATUS}style="display:none"{/if}>
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">限时购买价格</label>
                        <div class="col-sm-8 col-xs-12">
                            <input type="text" class="form-control" name="limit_time_price" value="{$item['limit_time_price']}" placeholder="请输入限时购买价格，单位：元"/>
                        </div>
                    </div>
                    <div class="form-group js-limit-buy-box"{if $item['is_open_limit_time_buy'] != OPEN_STATUS}style="display:none"{/if}>
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">限时购时间</label>
                        <div class="col-sm-8 col-xs-12">
                            {php echo tpl_form_field_daterange('limit_buy_time', array('start'=>empty($item['limit_time_buy_start'])?date('Y-m-d 00:00:00'):date('Y-m-d H:i:s',$item['limit_time_buy_start']),'end'=>empty($item['limit_time_buy_end'])?date('Y-m-d 23:59:59'):date('Y-m-d H:i:s',$item['limit_time_buy_end'])), true);}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span class="text-danger">*</span> 单位</label>
                        <div class="col-sm-8 col-xs-12">
                            <input type="text" class="form-control" name="unit" value="{$item['unit']}" placeholder="请输入商品单位：件/个/只等"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span class="text-danger">*</span> 商品重量</label>
                        <div class="col-sm-8 col-xs-12">
                            <input type="text" class="form-control" name="weight" value="{$item['weight']}" placeholder="请输入商品重量，单位：kg"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span class="text-danger">*</span> 库存</label>
                        <div class="col-sm-8 col-xs-12">
                            <input type="text" class="form-control" name="total" value="{$item['total']}" placeholder="请输入商品库存"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span class="text-danger">*</span> 显示状态</label>
                        <div class="col-sm-8 col-xs-12">
                            <label class="radio-inline">
                                <input type="radio" name="is_display" value="1" {if $item['is_display'] == 1}checked{/if}>
                                显示
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="is_display" value="0" {if $item['is_display'] != 1}checked{/if}>
                                隐藏
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span class="text-danger">*</span> 是否推荐</label>
                        <div class="col-sm-8 col-xs-12">
                            <label class="radio-inline">
                                <input type="radio" name="is_platform_recommend" value="1" {if $item['is_platform_recommend'] == 1}checked{/if}>
                                推荐
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="is_platform_recommend" value="0" {if $item['is_platform_recommend'] != 1}checked{/if}>
                                不推荐
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否包邮</label>
                        <div class="col-sm-8 col-xs-12">
                            <span class="help-block">
                            {if $item['is_free_post'] == POST_FREE_YES}
                            包邮
                            {else}
                            不包邮
                            {/if}
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span class="text-danger">*</span> 排序</label>
                        <div class="col-sm-8 col-xs-12">
                            <input type="text" class="form-control" name="platform_order_by" value="{$item['platform_order_by']}" placeholder="请输入数字，越大排序越靠前"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品分享标题</label>
                        <div class="col-sm-8 col-xs-12">
                            <input type="text" class="form-control" name="share_title" value="{$item['share_title']}" placeholder="商品分享标题"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品分享描述</label>
                        <div class="col-sm-8 col-xs-12">
                            <textarea name="share_desc"  class="form-control" placeholder="输入商品分享简介">{$item['share_desc']}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品分享图片</label>
                        <div class="col-sm-8 col-xs-12">
                            {php echo tpl_form_field_image('share_image',$item['share_image']);}
                            <span class="help-block">建议尺寸：300*300</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品详情</label>
                        <div class="col-sm-8 col-xs-12">
                            {php echo tpl_ueditor('detail', $item['detail']);}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品属性</label>
                        <div class="col-sm-8 col-xs-12 js-attr-box">
                            {if !empty($item['attr_list']) && is_array($item['attr_list'])}
                            {loop $item['attr_list'] $attr_key $attr}
                            <div class="row js-attr-item" {if $attr_key != 1}style='margin-top:5px'{/if} data-item="{$attr_key}">
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <input class="form-control" name="attr[{$attr_key}][key]" value="{$attr['key']}" type="text" placeholder="请输入属性名,如：系统">
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <input class="form-control" name="attr[{$attr_key}][value]" value="{$attr['value']}" type="text" placeholder="请输入属性值,如：安卓">
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <div class="btn-group">
                                        {if $attr_key == 1}
                                        <button type="button" class="btn btn-info js-attr-add">添加</button>
                                        {else}
                                        <button type="button" class="btn btn-warning js-attr-remove">删除</button>
                                        {/if}
                                    </div>
                                </div>
                            </div>
                            {/loop}
                            {else}
                            <div class="row js-attr-item" data-item="1" style="display: none">
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <input class="form-control" name="attr[1][key]" type="text" placeholder="请输入属性名,如：系统">
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <input class="form-control" name="attr[1][value]" type="text" placeholder="请输入属性值,如：安卓">
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-info js-attr-add">添加</button>
                                    </div>
                                </div>
                            </div>
                            {/if}
                        </div>
                    </div>
                    <div class="form-group" style="display: none">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span class="text-danger">*</span> 是否启用规格</label>
                        <div class="col-sm-8 col-xs-12">
                            <label class="radio-inline">
                                <input type="radio" name="is_open_spec" value="1" {if $item['is_open_spec'] == 1}checked{/if}>
                                启用
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="is_open_spec" value="0" {if $item['is_open_spec'] != 1}checked{/if}>
                                不启用
                            </label>
                        </div>
                    </div>
                    <div style="display: none" class="form-group js-spec-box"  {if $item['is_open_spec'] != 1}style="display: none"{/if}>
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品规格</label>
                        <div class="col-sm-8 col-xs-12">
                            <span class="help-block">修改规格项时，需要重新填写下面的规格列表</span>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <input class="form-control js-sku-input" name="spec[1][key]" value="{$item['spec_list'][1]['key']}" type="text" placeholder="规格1,如：颜色">
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <input class="form-control js-sku-input" name="spec[2][key]" value="{$item['spec_list'][2]['key']}"  type="text" placeholder="规格2,如：尺寸">
                                </div>
                            </div>
                            <div class="row" style="margin-top: 5px">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <textarea  class="form-control js-sku-input" style="height: 200px" name="spec[1][value]" placeholder="规格1的值，输入多个按回车键，每行代表一个，如：红色，按下回车，输入蓝色">{php echo implode("\n",$item['spec_list'][1]['value']);}</textarea>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <textarea  class="form-control js-sku-input" style="height: 200px" name="spec[2][value]" placeholder="规格2的值，输入多个按回车键，每行代表一个，如：12寸，按下回车，输入14寸">{php echo implode("\n",$item['spec_list'][2]['value']);}</textarea>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 5px;">
                                <div class="table-responsive panel-body">
                                    <table class="table table-hover spec-table">
                                        <thead class="navbar-inner">
                                        <tr>
                                            <th id="spec_field_1">规格1</th>
                                            <th id="spec_field_2">规格2</th>
                                            <th>成本/出厂价(元)</th>
                                            <th>原价/市场价(元)</th>
                                            <th>售价/现价(元)</th>
                                            <th>限时购价格(元)</th>
                                            <th>条形码</th>
                                            <th>库存</th>
                                            <th>重量(kg)</th>
                                        </tr>
                                        </thead>
                                        <tbody id="sku_box">
                                        {if !empty($item['sku_list']) && is_array($item['sku_list'])}
                                        {loop $item['sku_list'] $sku_key $sku_item}
                                        <tr>
                                            <td><input class="form-control" name="sku[{$sku_key}][filed_1]" type="text" value="{$sku_item['filed_1']}"></td>
                                            <td><input class="form-control" name="sku[{$sku_key}][filed_2]" type="text" value="{$sku_item['filed_2']}"></td>
                                            <td><input class="form-control" name="sku[{$sku_key}][cost_price]" type="text" value="{$sku_item['cost_price']}"></td>
                                            <td><input class="form-control" name="sku[{$sku_key}][market_price]" type="text" value="{if !empty($sku_item['market_price'])}{$sku_item['market_price']}{else}{$sku_item['cost_price']}{/if}"></td>
                                            <td><input class="form-control" name="sku[{$sku_key}][sale_price]" type="text" value="{if !empty($sku_item['sale_price'])}{$sku_item['sale_price']}{else}{$sku_item['cost_price']}{/if}"></td>
                                            <td><input class="form-control" name="sku[{$sku_key}][limit_time_price]" type="text" value="{$sku_item['limit_time_price']}"></td>
                                            <td><input class="form-control"  name="sku[{$sku_key}][product_code]" type="text" value="{$sku_item['product_code']}"></td>
                                            <td><input class="form-control"  name="sku[{$sku_key}][total]" type="text" value="{$sku_item['total']}"></td>
                                            <td><input class="form-control"  name="sku[{$sku_key}][weight]" type="text" value="{$sku_item['weight']}"></td>
                                        </tr>
                                        {/loop}
                                        {/if}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span class="text-danger">*</span> 审核</label>
                        <div class="col-sm-8 col-xs-12">
                            <label class="radio-inline">
                                <input type="radio" name="is_check" value="1" {if $item['is_check'] == 1}checked{/if}>
                                通过
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="is_check" value="0" {if $item['is_check'] != 1}checked{/if}>
                                不通过
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8 col-xs-12 col-sm-offset-2">
                            <input type="hidden" name="id" value="{$item['id']}">
                            <button type="button" name="submit" class="btn btn-primary">提交</button>
                            <input type="hidden" name="token" value="$_W['token']">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        require(['util'],function(util){

            $('input[name="is_open_limit_time_buy"]').bind('click',function(){
                var is_open = $(this).val();
                if(is_open == '{OPEN_STATUS}'){
                    $('.js-limit-buy-box').show();
                }else{
                    $('.js-limit-buy-box').hide();
                }
            });


            $('input[name="is_open_spec"]').bind('click',function(){
                var is_open_spec = $(this).val();
                if(is_open_spec == 1){
                    $('.js-spec-box').show();
                }else{
                    $('.js-spec-box').hide();
                }
            });

            $('button[name="submit"]').bind('click',function(){
                $.post(
                        window.location.href,
                        $('#post_goods_form').serialize(),
                        function (ret) {
                            util.message(ret.message, ret.redirect, ret.type);
                            return false;
                        }, 'json'
                );
            });
            /* 添加属性 */
            $(document).on('click','.js-attr-add',null,function(){
                var append_html =
                        '<div class="row js-attr-item" style="margin-top: 5px" data-item="'+($('.js-attr-item').length+1)+'">' +
                        '<input type="hidden" name="attr_id[]" value="0">' +
                        '<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">' +
                        '<input class="form-control" name="attr['+($('.js-attr-item').length+1)+'][key]+" type="text" placeholder="请输入属性名,如：系统">' +
                        '</div>' +
                        '<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">' +
                        '<input class="form-control" name="attr['+($('.js-attr-item').length+1)+'][value]+" type="text" placeholder="请输入属性值,如：安卓">' +
                        '</div>' +
                        '<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">' +
                        '<div class="btn-group">' +
                        '<button type="button" class="btn btn-warning js-attr-remove">删除</button>' +
                        '</div>' +
                        '</div>' +
                        '</div>';
                $('.js-attr-box').append(append_html);
            });
            /* 移除属性 */
            $(document).on('click','.js-attr-remove',null,function(){
                var parent = $(this).parent().parent().parent();
                var item_num = $('.js-attr-item').length;
                if( item_num < 2){
                    util.message('最后一个不能删除','','error');
                    return false;
                }
                if(parent.attr('data-item') != item_num){
                    util.message('请先从最后一项删除','','error');
                    return false;
                }
                parent.remove();
            });

            /* 生成sku列表 */
            $('.js-sku-input').bind('input propertychange', function() {
                //获取规格名
                var filed_1 = $('input[name="spec[1][key]"]').val().trim();
                var filed_2 = $('input[name="spec[2][key]"]').val().trim();
                //设置规格名
                $('#spec_field_1').html(filed_1);
                $('#spec_field_2').html(filed_2);
                //获取规格项
                var filed_1_v = $('textarea[name="spec[1][value]"]').val().trim();
                var filed_2_v = $('textarea[name="spec[2][value]"]').val().trim();
                filed_1_v = filed_1_v.split("\n");
                filed_2_v = filed_2_v.split("\n");
                //生成SKU
                var sku_html = '';
                $.each(filed_1_v,function(k1,v1){
                    $.each(filed_2_v,function(k2,v2){
                        sku_html +=
                                '<tr>' +
                                '<td><input readonly class="form-control" name="sku['+(k1+'_'+k2)+'][filed_1]" type="text" value="'+v1+'"></td>' +
                                '<td><input readonly class="form-control" name="sku['+(k1+'_'+k2)+'][filed_2]" type="text" value="'+v2+'"></td>' +
                                '<td><input class="form-control" name="sku['+(k1+'_'+k2)+'][cost_price]" type="text"></td>' +
                                '<td><input class="form-control" name="sku['+(k1+'_'+k2)+'][market_price]" type="text"></td>' +
                                '<td><input class="form-control" name="sku['+(k1+'_'+k2)+'][sale_price]" type="text"></td>' +
                                '<td><input class="form-control" name="sku['+(k1+'_'+k2)+'][limit_time_price]" type="text"></td>' +
                                '<td><input class="form-control"  name="sku['+(k1+'_'+k2)+'][product_code]" type="text"></td>' +
                                '<td><input class="form-control"  name="sku['+(k1+'_'+k2)+'][total]" type="text"></td>' +
                                '<td><input class="form-control"  name="sku['+(k1+'_'+k2)+'][weight]" type="text"></td>' +
                                '</tr>';
                    });
                });
                $('#sku_box').html(sku_html);
            });
        });
    </script>
{elseif $op == 'category'}
    <div class="panel panel-info">
        <div class="panel-heading">筛选</div>
        <div class="panel-body">
            <form  method="post" class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">分类名称</label>
                    <div class="col-sm-6 col-md-8 col-lg-8 col-xs-12">
                        <input type="text" class="form-control" name="keyword" value="{$_GPC['keyword']}"  placeholder="请输入关键词,分类名称"/>
                        <span class="help-block">检索到的背景会变成，绿色：<i style="background: greenyellow;padding: 0 10px;"></i></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <form method="post" class="form-horizontal" id="goods_category_form">
        <input type="hidden" name="op" value="post_category" />
        <input type="hidden" name="ac" value="delete" />
        <div class="panel panel-default ">
            <div class="table-responsive panel-body">
                <table class="table table-hover">
                    <thead class="navbar-inner">
                    <tr>
                        <th style="width: 45px">删?</th>
                        <th>分类名称</th>
                        <th>显示状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {loop $list $item}
                    <tr>
                        <td><input type="checkbox" name="ids[]" value="{$item['id']}"></td>
                        <td class="category">{$item['title']}</td>
                        <td>
                            {if $item['is_display'] == 1}
                            <span class="label label-success">显示</span>
                            {else}
                            <span class="label label-default">隐藏</span>
                            {/if}
                        </td>
                        <td>
                            <a href="{php echo $this->createWebUrl('goods',array('op'=>'post_category','id'=>$item['id']));}"><i class="fa fa-edit"></i>&nbsp;编辑</a>
                            <a style="margin-left: 20px;" href="{php echo $this->createWebUrl('goods',array('op'=>'post_category','s_category_id'=>$item['id']));}"><i class="fa fa-plus"></i>&nbsp;新建下一级</a>
                        </td>
                    </tr>
                    {/loop}
                    {if !empty($list) && is_array($list)}
                    <tr>
                        <td><input type="checkbox" name="" onclick="var ck = this.checked;$(':checkbox').each(function(){this.checked = ck});"></td>
                        <input name="token" type="hidden" value="{$_W['token']}" />
                        <td colspan="3"><input type="submit" name="submit" class="btn btn-primary" value="删除"></td>
                    </tr>
                    {/if}
                    </tbody>
                </table>
            </div>
        </div>
        {$pager}
    </form>
    <script>
        require(['bootstrap'], function(){
            $('input[name="keyword"]').bind('input propertychange',function(){
                var keyword = $(this).val().trim();
                $.each($('.category'),function(index,obj){
                    var text_1 = $(obj).text().trim();
                    var text_2 = '';
                    if($(obj).find('input').length > 0){
                        text_2 = $(obj).find('input').val().trim();
                    }
                    if((text_1.indexOf(keyword) > -1 || text_2.indexOf(keyword) > -1) && keyword != ''){
                        $(obj).parent().css('background','greenyellow');
                    }else{
                        $(obj).parent().css('background','transparent');
                    }
                });
            });

            $('#goods_category_form').submit(function(){
                if($(":checkbox[name='ids[]']:checked").size() > 0){
                    return confirm('删除后不可恢复，您确定删除吗？');
                }
                util.message('没有选择类别！', '', 'error');
                return false;
            });
        });
    </script>
{elseif $op == 'post_category'}
<form method="post" class="form-horizontal" role="form" id="post_category_form">
    <div class="panel panel-info">
        <div class="panel-heading">添加分类</div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">分类名称</label>
                <div class="col-sm-9 col-xs-12">
                    <input type="text" name="title" value="{$item['title']}" class="form-control" placeholder="请输入分类名称"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">父级分类</label>
                <div class="col-sm-9 col-xs-12">
                    <select name="parent_id" class="form-control">
                        <option value="0">根分类</option>
                        {if !empty($parent_category_list) && is_array($parent_category_list)}
                            {loop $parent_category_list $category}
                             <option {if $item['parent_id'] == $category['id'] || $s_category_id == $category['id']}selected{/if} value="{$category['id']}">{$category['title']}</option>
                            {/loop}
                        {/if}
                    </select>
                    <span class="help-block">仅支持三级分类</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">缩略图</label>
                <div class="col-sm-9 col-xs-12">
                    {php echo tpl_form_field_image('thumb',$item['thumb']);}
                    <span class="help-block">建议尺寸：120*120</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">排序</label>
                <div class="col-sm-9 col-xs-12">
                    <input type="text" name="order_by" value="{$item['order_by']}" placeholder="请输入数字，越大排序越靠前" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">显示状态</label>
                <div class="col-sm-9 col-xs-12">
                    <label class="radio-inline">
                        <input type="radio" name="is_display" value="1" {if $item['is_display'] == 1 || empty($item)}checked{/if}>
                        显示
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="is_display" value="0" {if $item['is_display'] != 1 && !empty($item)}checked{/if}>
                        隐藏
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8 col-xs-12 col-sm-offset-2">
                    <input type="hidden" name="id" value="{$item['id']}"/>
                    <button type="button" name="submit" class="btn btn-primary">提交</button>
                    <input type="hidden" name="token" value="{$_W['token']}" />
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    require(['util'],function(util){
        $("body").keydown(function() {
            if (event.keyCode == "13") {//keyCode=13是回车键
                $('button[name="submit"]').click();
            }
        });
        /* 保存分类 */
        $('button[name="submit"]').bind('click',function(){
            $.post(
                window.location.href,
                $('#post_category_form').serialize(),
                function(ret){
                    util.message(ret.message,ret.redirect,ret.type);
                    return false;
                },'json'
            );
        });
    });
</script>
{/if}
</div>
{template 'common/footer'}